<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define shakti_kumar_TargetDir=$(var.shakti_kumar.TargetDir)?>
	<Product Id="05080cdf-0f3f-40fd-8192-329325bb8239" Name="dummyShakti" Language="1033" Version="1.0.0.0" Manufacturer="Shakti Kumar" UpgradeCode="0e569ca9-6668-4306-b076-093f85291c72">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    
   
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="dummyShakti" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="dummyShakti" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="shakti_kumar.exe" Guid="4a2f46a2-cf0d-4682-9ed0-e1dabbe6f4c9">
			  <File Id="shakti_kumar.exe" Name="shakti_kumar.exe" Source="$(var.shakti_kumar_TargetDir)shakti_kumar.exe" />
			</Component>
			<Component Id="shakti_kumar.exe.config" Guid="bd49af6d-1d26-4ebe-b3c0-9e46c7b7d2bb">
			  <File Id="shakti_kumar.exe.config" Name="shakti_kumar.exe.config" Source="$(var.shakti_kumar_TargetDir)shakti_kumar.exe.config" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
