[project]
	description = "Published works under C# with WiX toolset"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shakti Kumar (ShaktiKShrivastava)
[access "refs/for/refs/*"]
	read = group user/Shakti Kumar (ShaktiKShrivastava)
	push = group user/Shakti Kumar (ShaktiKShrivastava)
	label-Code-Review = -2..+2 group user/Shakti Kumar (ShaktiKShrivastava)
	label-Verified = -1..+1 group user/Shakti Kumar (ShaktiKShrivastava)
	rebase = group user/Shakti Kumar (ShaktiKShrivastava)
	removeReviewer = group user/Shakti Kumar (ShaktiKShrivastava)
	submit = group user/Shakti Kumar (ShaktiKShrivastava)
[access "refs/heads/*"]
	read = group user/Shakti Kumar (ShaktiKShrivastava)
	create = group user/Shakti Kumar (ShaktiKShrivastava)
	push = +force group user/Shakti Kumar (ShaktiKShrivastava)
	pushMerge = group user/Shakti Kumar (ShaktiKShrivastava)
[access "refs/tags/*"]
	push = group user/Shakti Kumar (ShaktiKShrivastava)
	push = +force group user/Shakti Kumar (ShaktiKShrivastava)
